# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/innoigniter
/innoigniter.exe

# Go
*.test
*.out
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Intel
intel/*.db

# Data
.innoigniter/
